@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --color-primary: #FF5D39; /* Brand Orange */
  --color-primary-hover: #E64A26;
  --color-secondary: #1F1F1F; /* Dark Text */
  
  --color-surface-beige: #FFF8F5; /* Light background for sections */
  --color-surface-peach: #FFEEE5; /* Lighter orange background */
  
  --color-gray-50: #F9FAFB;
  --color-gray-100: #F3F4F6;
  --color-gray-900: #111827;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 16px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
